<!DOCTYPE html>
<html>
<head>
<title>Bienvenido al Barcamp 2020!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Bienvenido al Barcamp 2020!</h1>
<p>BarCamp es una red internacional de "desconferencias"
 tecnologicas, cuyo contenido es auto-generado por los participantes
  y su orientacion es hacia el desarrollo de Software y tecnologia en general.</p>

<p>Ir a la pagina del BarCamp 2020
<a href="https://barcamp.org.do/">barcamp.org.do</a>.<br/>

<p style="color: red; font-size: 30px">Host: {{ ansible_host }}</em></p>
</body>
</html>
